GATEWAY_APPLICATION_NAME=shop-gateway
GATEWAY_PORT=8080
NACOS_DISCOVERY_ENABLED=true
NACOS_REGISTER_ENABLED=true
NACOS_SERVER_ADDR=158.101.11.223:8848
NACOS_NAMESPACE=
NACOS_GROUP=DEFAULT_GROUP
GATEWAY_BACKEND_SERVICE_ID=shop-backend
GATEWAY_CORS_ALLOWED_ORIGIN_PATTERNS=https://pet.686888666.xyz,http://localhost:*,http://127.0.0.1:*,http://10.*:*,http://172.*:*,http://192.168.*:*
GATEWAY_LOG_LEVEL=INFO
